<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.posin.manage.mapper.AdminMenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.posin.blog.entity.AdminMenu">
        <id column="menu_id" property="menuId" />
        <result column="menu_name" property="menuName" />
        <result column="parent_id" property="parentId" />
        <result column="order_num" property="orderNum" />
        <result column="path" property="path" />
        <result column="is_frame" property="isFrame" />
        <result column="menu_type" property="menuType" />
        <result column="visible" property="visible" />
        <result column="status" property="status" />
        <result column="perms" property="perms" />
        <result column="icon" property="icon" />
        <result column="module_id" property="moduleId" />
        <result column="en_code" property="enCode" />
        <result column="target" property="target" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="remark" property="remark" />
    </resultMap>

    <sql id="Base_Alias_List">
        ${alias}.menu_id, ${alias}.menu_name, ${alias}.parent_id, ${alias}.order_num, ${alias}.path, ${alias}.is_frame,
        ${alias}.menu_type, ${alias}.status, ${alias}.perms, ${alias}.icon, ${alias}.module_id, ${alias}.en_code,
        ${alias}.target, ${alias}.create_by, ${alias}.create_time, ${alias}.update_by, ${alias}.update_time, ${alias}.remark
    </sql>

    <sql id="Base_Original_List">
        menu_id, menu_name, parent_id, order_num, path, is_frame, menu_type, status, perms, icon, module_id, en_code, target, create_by, create_time, update_by, update_time, remark
    </sql>

    <sql id="selectMenuObj">
        select menu_id, menu_name, parent_id, order_num, path, is_frame, menu_type, status, perms, icon, module_id, en_code, target, create_by, create_time, update_by, update_time, remark
        from blog_menu
    </sql>

    <resultMap id="menuTreeResult" type="com.posin.blog.entity.AdminMenu" extends="BaseResultMap">
        <collection property="childs"
                    column="{parentId=menu_id}"
                    select="com.posin.manage.mapper.AdminMenuMapper.querySubMenuList"/>
    </resultMap>

    <select id="querySubMenuList" resultMap="BaseResultMap">
        <include refid="selectMenuObj"/>
        where parent_id = #{parentId} and status = 0 order by order_num
    </select>

    <select id="queryMenuTree" resultMap="menuTreeResult">
        select
        <include refid="Base_Alias_List">
            <property name="alias" value="m"/>
        </include>
        from blog_menu m
        left join blog_role_menu rm on m.menu_id = rm.menu_id
        left join blog_user_role ur on rm.role_id = ur.role_id
        left join blog_role ro on ur.role_id = ro.role_id
        left join blog_user u on ur.user_id = u.user_id
        where u.user_id = #{userId} and m.parent_id='0' and m.status = 0  AND ro.status = 0
        order by m.parent_id, m.order_num
    </select>

    <resultMap id="BaseMenuWebTree" type="com.posin.blog.dto.MenuTreeDTO">
        <id column="menu_id" property="id" />
        <result column="menu_name" property="label" />
        <result column="parent_id" property="parentId" />
        <result column="order_num" property="orderNum" />
        <result column="path" property="path" />
        <result column="is_frame" property="ifFrame" />
        <result column="menu_type" property="type" />
        <result column="visible" property="visible" />
        <result column="status" property="status" />
        <result column="perms" property="perms" />
        <result column="icon" property="icon" />
        <result column="module_id" property="moduleId" />
        <result column="en_code" property="enCode" />
        <result column="target" property="target" />
    </resultMap>

    <resultMap id="completeMenuWebTreeResult" type="com.posin.blog.dto.MenuTreeDTO" extends="BaseMenuWebTree">
        <collection property="children"
                    column="{parentId=module_id}"
                    select="com.posin.manage.mapper.AdminMenuMapper.querySubMenuTree"/>
    </resultMap>

    <select id="queryCompleteMenuTree" parameterType="com.posin.blog.entity.AdminMenu" resultMap="completeMenuWebTreeResult">
        select distinct m.menu_id, m.parent_id, m.menu_name, m.path, m.visible, m.status, ifnull(m.perms,'') as perms, m.menu_type, m.icon, m.order_num, m.create_time,
        m.is_frame, m.module_id, m.en_code, m.target
        from blog_menu m
        left join blog_role_menu rm on m.menu_id = rm.menu_id
        left join blog_user_role ur on rm.role_id = ur.role_id
        left join blog_role ro on ur.role_id = ro.role_id
        where ur.user_id = #{params.userId}
        <if test="menuName != null and menuName != ''">
            AND m.menu_name like concat('%', #{menuName}, '%')
        </if>
        <if test="visible != null and visible != ''">
            AND m.visible = #{visible}
        </if>
        <if test="status != null and status != ''">
            AND m.status = #{status}
        </if>
        order by m.parent_id, m.order_num
    </select>

    <select id="querySubMenuTree" resultMap="completeMenuWebTreeResult">
        select *
        from blog_menu
        where parent_id = #{parentId} order by `order_num`
    </select>

    <select id="getAuthority" resultType="java.lang.String">
        select perms
        from blog_menu
        where menu_id in (select menu_id from blog_role_menu where role_id in (select role_id from blog_user_role where user_id=#{uid}))
    </select>

    <select id="checkMenuNameUnique" resultMap="BaseMenuWebTree">
        <include refid="selectMenuObj"/>
        where menu_name =#{menuName} and parent_id=#{parentId}
    </select>

</mapper>
